.all-questions{
    display: flex;    
    padding: 20px 0px;
    border-bottom: 1px solid #eee;
    width: 100%;
    /* color:red; */
  }
  
  .all-questions-container {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    width: 100%;
  }
  
  .all-questions-left {
    display: flex;
    flex-direction: row; 
    margin-right: 30px;
  }
  .all-questions-right{
    margin-left: 50px;

  }
  
  .all-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
    font-size: small;
  }   
   .all-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .all-option > p {
    font-size: large;
  }
  
  .question-answer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .question-answer > a {
    color: #0151f0d8;
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  .question-answer > a:hover {
    color: #1649b1d8;
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  
  .question-answer > p {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
  }
  .question-tags{
    margin:5px;
  }
  
  .author {
    display: flex;
   float: right;
   flex-direction: column;
    margin-left: auto;
  }
  
  .author > small {
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;
  }
  
  .auth-details {
    display: flex;
    align-items: center;
  }
  
  .auth-details > p {
    margin-left: 5px;
    font-size: small;
    color: #0151f0d8;
  }
  
   